<html>
  <head>
      <style>*{font-family: Helvetica; line-height:150%; }</style>
      <meta content='width=device-width, initial-scale=1' name='viewport'/>
      <title>IdeaBox</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
